/* This is homepage */

body {
    background-color: lightblue;
}

.container {
    background-color: #bbbbbb;
    padding-bottom: 0;
    width: auto;
    margin: 0 -5px;
}

.header {
    width: 100%;
    height: 150px;
    margin: auto;
    display: flex;
    align-items: center;
    gap: 80%;
}

#parkName {
    font-size: 24px;
    text-align: center;
}


.header_link_text {
    font-size: 18px;
    color: #E5E7EB;
}

ul li {
    flex: 0;
    font-size: 22px;   
    display: inline-block;
}

figure {
    display: flex;
    justify-content: center;
    background-color: rgb(88, 68, 99);
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

#parkInformation {
    background-color: #bbbbbb;
    width: auto;
}

#commentContainer {
    background-color: #bbbbbb;
    width: auto;
}

.commentBox {
    background-color: lightpink;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}

.comment1 .comment2{
    padding: 5px;
    border: solid red 1px;
}

.commentName1 , .commentName2{
    text-align: right;
    font-weight: 900;   
    margin-bottom: 40px;
}