/* This file contains the styling for the html elements of all three of the WebPages */
body {
    background-color: rgb(34, 42, 53);
    color: white;
    /* Constistant styling */
    overflow-y: scroll;
}

.header {
    display: flex;
    width: auto;
    height: 50px;
    margin: 0 -5px;
}

.homeImage {
    position: fixed;
}

#parkName {
    font-size: 40px;
    margin:auto;
}

#navLinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    /* Added as a precaution */
    overflow-x: auto;
}

#navImg {
    object-fit: fill;
    width: 300px;
    height: 100px;
    padding: 0;
    margin: 0 10px;
    max-width: calc(100% - 25px);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
}

#banner {
    width: 100%;
    height: 180px;
}

h1 {
    font-size: 30px;
    text-align: center;
    font-weight: 900;  
}

h2 {
    font-size: 25px;
    text-align: center;
    font-weight: 900;  
}

h3 {
    font-size: 20px;
    font-weight: 900; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

#parkInformation {
    text-align: center;
}

#commentContainer {
    margin-left: 3%;
    margin-right: 3%;
    width: auto;
}

.commentBox2 {
    height: 150px;
    width: 40%;
}

.comment1 .comment2{
    padding: 8px;
}

.commentName {
    text-align: right;
    font-weight: 900;
    padding-right: 15px;   
}

figure {
    display: flex;
    gap: 5%;
    margin-bottom: 60px;
}

.bumperCarParentBox {
    display: flex;
    align-items: flex-end;
    gap: 2%;
}

.bumperCarCommentBox {
    width: 40%;
}


.commentNameHector {
    text-align: right;
    padding-right: 23%; 
}

.hectorComment {
    width: 80%;
}

.parentBox {
    display: flex;
    gap: 3px;
}

#bumperCarImage {
    width: 70%;
    height: 300px;
}

#gameRollerCoaster {
    width: 70%;
    height: 300px;
}

#foodItems {
    display: block;
    justify-content: center;
}

#location {
    margin-top: 100px; 
}

#parkMap {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: auto;
}

img {
    width: 50px;
    height: 50px;
    /* Less 90s look */
    border-radius: 5px;
}
  
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 80px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid img {
    border: 2px solid rgb(40, 65, 95);
    border-radius: 5px;
}

.cell img {
    /* Stretched to match size of reference page */
    width: 380px;
    height: 250px;
}


#onlinePay {
    margin-left: 285px;
}

ul {
    margin-left: 265px;
}  

li {
    padding-left: 20px;
}

/* Below are new classes which are used on the Rides WebPage*/
.ridesTitle {
    margin-top: 40px;
    margin-bottom: 50px;
    font-size: 30px;
}

.ridesImgRowContainer {
    display: flex;
    gap: 15%;
    justify-content: center;
    margin: 30px;
}

.ridesImg {
    width: 450px;
    height: 300px;
}

.rideText {
    text-align: center;
}

@keyframes spinFly {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(100%, -100%) rotate(360deg);
    }
    100% {
      transform: translate(0, 0);
    }
}

@keyframes growingFade {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.spinFlyImg {
    animation: spinFly 5s linear infinite;
}

.growingFadeImg {
    animation: growingFade 5s linear infinite;
    margin: 7%;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}
